* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira Code", monospace;
}
.blob {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  border-radius: 100%;
  background-image: linear-gradient(#1100ff 10%, #ff00f2);
  filter: blur(250px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1;
}
header {
  width: 100%;
}
.navbar {
  display: flex;
  font-size: clamp(1rem, 5vw, 1.5rem);
  max-width: 100%;
  align-items: start;
  padding: 0rem 2rem;
  border: 1px solid black;
  justify-content: space-between;
}
.logo,
.nav-links li,
.nav-right {
  border-left: 1px solid black;
  height: 60px;
  padding: 0.8rem 1rem;
}
#last {
  border-right: 1px solid black;
  padding: 0.8rem 1rem;
}
.nav-links a,
.nav-right a {
  color: #000;
  text-decoration: none;
}
.logo {
  border-left-width: 0px;
}
.logo {
  font-size: bold;
}
.nav-links {
  display: flex;
  justify-content: start;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  transition: 0.5s;
}

.nav-links li a:hover {
  color: #47eec1;
}

.nav-right {
  display: flex;
  justify-content: end;
}
.nav-mobile {
  font-size: 40px;
  display: none;
  padding: 1rem;
}
section {
  padding: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 88vh;
}
.hero .left-hero {
  position: absolute;
  top: 30%;
  left: 15%;
}
h1 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}
.heading-name {
  font-size: clamp(3rem, 5vw, 4rem);
  font-weight: 600;
}
.left-hero h2 {
  font-size: clamp(1rem, 5vw, 2rem);
}
.comment,
.variable,
.type,
.value {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.left-hero h2 {
  color: #00b081;
  font-weight: 600;
}
.comment {
  color: #4c886b;
  margin: 1rem 0rem;
}
.variable {
  color: #00b081;
}
.type {
  font-weight: 600;
  color: #0000ff;
}
.value a,
.mobile-value a {
  color: #0030b5;
  text-decoration: none;
}
.footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0px 1rem;
  border-top: 1px solid #000;
}
.mobile-value {
  display: none;
}
/* mobile */
@media screen and (max-width: 1024px) {
  .nav-links,
  .nav-right {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .logo {
    line-height: 60px;
  }
  .hero {
    top: 20%;
  }
  .hero .left-hero {
    top: 10%;
    left: 10%;
  }
  .navbar {
    border-left-width: 0px;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 600px) {
  .hero .left-hero p {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
  }
  .logo {
    padding: 0.8 0.5rem;
  }

  .mobile-value {
    display: block;
  }
  #value {
    display: none;
  }
  .type {
    padding-right: 5px;
  }
}
