:root{
    --head-color-name:#53e3a6;
}
*{
    margin:0;
    /* background: hsl(250, 60%, 99%); */
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
marquee{
    color: #53e3a6;
    position: absolute;
    top:50%;
}
.connect{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.connect .btn{
    padding: 10px;
    padding-left:30px;
    padding-right: 30px;
    font-size: 22px;
    font-weight: 600;
    background-color: #53e3a6;
   box-shadow: 0 0.75rem 2rem 0 #53e3a6;
  border-radius: 0.8rem;
  color:#FFF;
  margin: 10px;

}
.btn:hover{
    box-shadow: 0 0.75rem 2rem 0.2rem #53e3a6;
}
#skill{
 margin-top: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-flow: column;
 flex-direction: column;
}
.language{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.lang{
    margin: 20px;
    display: none;
}
#skill .title
{
    font-size: 30px;
}
#home{
   margin-top: 100px;
}
#home{
    height: 100vh;
}

.profile,#about{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
#about{
    height: 70vh;
    justify-content: start;
}
#about{
    margin-top: 40px;
flex-direction: column;
}
#about .title{
    font-size: 30px;
    
}
.about-data{
    max-width:600px;
    font-size: 25px;
    padding: 20px;
    line-height: 40px;
}
.profile .intro h1{
    font-size: 70px;
    text-size-adjust: auto;
    font-weight: 600;
}
.profile{
    flex-direction: column;
}
.social{
    /* line-height: 60px; */
    margin-top:30px;
    display: flex;
    width:600px;
    flex-wrap: wrap;
    /* width:100%; */
    justify-content: space-between;
    align-items: center;
}
.link{
    margin:20px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  text-align: center;
  align-self: center;
  border: 1px solid rgba(255, 255, 255, 0.125); 
}
.social a .uil,.uil{
    /* margin:20px; */
    text-align: center;
    font-size: 50px;
    color: #0F67EC;
    text-align: center;
}
.intro{
    display: flex;
   
    align-items: center;
    flex-direction: column;
}
.intro h1{
    letter-spacing:10px;
    text-align: center;
}
.intro p{
    font-size: 28px;
    font-weight: 400;
    color:var(--head-color-name)
}

.title{
    color:var(--head-color-name);
}
@media screen and (max-width:600px) {
.profile .intro h1{
    font-size: 40px;
}
.social{
    width:100%;
}
}
#footer{
display: flex;
justify-content: center;
padding: 20px;
}



